@model Product
@{
    ViewData["Title"] = "Create Product";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">

    <div class="mb-3">
        <label class="form-label">Name</label>
        <input class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <input class="form-control" asp-for="Description">
    </div>
    <div class="mb-3">
        <label class="form-label">Price</label>
        <input class="form-control" asp-for="Price">
    </div>
    <div class="mb-3">
        <label class="form-label">ImageSrc</label>
        <input class="form-control" asp-for="ImageSrc">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>